{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="index.html" class="navbar-brand mx-auto mx-lg-0">Jawad Rahimi</a>

        <div class="d-flex align-items-center d-lg-none">
            <i class="navbar-icon bi-telephone-plus me-3"></i>
            <a class="custom-btn btn" href="#section_5">
                
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#about">About</a>
                </li>

               

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#project">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#">Contact Us</a>

                </li>
                <li class="nav-item" >
                    <a class="nav-link click-scroll" href="{% url 'downloading'%}">Download CV</a>
                </li>
            </ul>
           

            <div class="d-lg-flex align-items-center d-none ms-auto">
                <i class="navbar-icon bi-whatsapp me-3"></i>
                <a class="custom-btn btn" href="#section_5">
                    +93767180833
                </a>
            </div>
        </div>

    </div>
</nav>